<div class="header">
  <div class="top-header">
    <ul class="left-header">
      <li class="header-item">
        <fa-icon [icon]="['fas', 'phone']"> </fa-icon>
        Phone
      </li>
      <li class="header-item">
        <fa-icon [icon]="['fas', 'envelope']"></fa-icon>Email
      </li>
      <li class="header-item">
        <fa-icon [icon]="['fas', 'location-dot']"></fa-icon>Address
      </li>
    </ul>

    <ul class="right-header">
      <li class="header-item">
        <fa-icon [icon]="['fas', 'dollar-sign']"></fa-icon>Money
      </li>
      <li class="header-item">
        <fa-icon [icon]="['far', 'user']"></fa-icon>Profile
      </li>
    </ul>
    <!-- <fa-layers size="sm">
        <fa-icon [icon]="['fas', 'bell']"></fa-icon>
        <fa-layers-counter content="10"></fa-layers-counter>
    </fa-layers> -->
  </div>
  <div class="main-header">
    <h2 class="title">ELECTRO GEAR.</h2>
    <div class="category">
      <ul class="category-list">
        <li class="category-item">Home</li>
        <li class="category-item">Laptops</li>
        <li class="category-item">Smartphones</li>
        <li class="category-item">Cameras</li>
        <li class="category-item">Accessories</li>
      </ul>
    </div>
    <div class="cart-information">
      <div class="cart">
        <fa-layers size="lg">
          <fa-icon [icon]="['fas', 'cart-shopping']"></fa-icon>
          <fa-layers-counter content="8"></fa-layers-counter>
      </fa-layers>
      </div>
      <div class="search">
        <fa-icon size="lg" [icon]="['fas', 'search']"></fa-icon>
      </div>
    </div>
  </div>
</div>
